* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #666666;
}
li {
  list-style: none;
}
html,
body {
  font-size: 10px;
}
.rentalAddr {
  height: 3.6rem;
  line-height: 3.6rem;
  background: #ffffff;
  border-bottom: 1px solid #c5c5c5;
  padding-left: 1.5rem;
}
.secondContent {
  padding: 0 2.5rem;
  font-size: 1.2rem;
}
.secondContent li {
  padding: 2rem 0;
  border-bottom: 1px solid #ff8a00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondContent li .left img {
  width: 10rem;
  height: 10rem;
}
.secondContent li .right {
  width: 21rem;
  overflow: hidden;
  font-size: 1.4rem;
  white-space: nowrap;
  text-overflow: clip;
}
.secondContent li .right h2 {
  font-size: 1.8rem;
}
.secondContent li .right p {
  color: #000;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.secondContent li .right p strong {
  float: right;
  color: #ff8a00;
}
.secondContent li .right > p:first-of-type {
  color: #000;
  margin-top: 1rem;
}
.secondContent > li:last-of-type {
  border-bottom: none;
}
