* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
i {
  font-style: normal;
}
body {
  font-size: 1.2rem;
}
.content {
  overflow: hidden;
}
.content .txt {
  height: 3rem;
  line-height: 3rem;
}
.content .txt a span {
  font-weight: 900;
}
.content .item {
  height: 4rem;
  line-height: 4rem;
  display: flex;
  text-align: center;
}
.content .item i {
  list-style: none;
  text-decoration: none;
  width: 50%;
  border-bottom: 0.5rem solid #8d8c8b;
}
.content .item .active {
  border-bottom: 0.5rem solid #ff8a00;
}
.content .inputbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.content .inputbox div {
  width: 100%;
  height: 4.3rem;
  border-bottom: 0.2rem solid #dcdcdc;
  position: relative;
}
.content .inputbox div input {
  border: none;
  outline: none;
  width: 100%;
  height: 4.2rem;
  line-height: 4.2rem;
  padding-left: 1.4rem;
}
.content .inputbox div span {
  position: absolute;
  top: 1.5rem;
  right: 10rem;
  font-size: 0.2rem;
}
.content .inputbox .bth {
  margin-top: 1rem;
  width: 30rem;
  height: 4.8rem;
  background: #ff8a00;
  line-height: 4.8rem;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 1.8rem;
}
.content .inputbox .a2 {
  display: flex;
  justify-content: space-between;
  border: none;
}
.content .inputbox .a2 a {
  line-height: 3rem;
  padding: 0 2%;
}
.content .inputbox .a2 a:nth-of-type(1) {
  color: #ff8a00;
}
.content .inputbox2 {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}
.content .inputbox2 div {
  width: 100%;
  height: 4.3rem;
  border-bottom: 0.2rem solid #dcdcdc;
}
.content .inputbox2 div input {
  border: none;
  outline: none;
  width: 100%;
  height: 4.2rem;
  line-height: 4.2rem;
  padding-left: 1.4rem;
}
.content .inputbox2 .aa1 {
  position: relative;
}
.content .inputbox2 .aa1 button {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  text-align: center;
  height: 3.5rem;
  border: 1px solid #dcdcdc;
  padding: 0.8rem 1rem;
}
.content .inputbox2 .bth {
  margin-top: 1rem;
  width: 30rem;
  height: 4.8rem;
  background: #ff8a00;
  line-height: 4.8rem;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 1.8rem;
}
.content .inputbox2 .a2 {
  display: flex;
  justify-content: space-between;
  border: none;
}
.content .inputbox2 .a2 a {
  line-height: 3rem;
  padding: 0 2%;
}
.content .inputbox2 .a2 a:nth-of-type(1) {
  color: #ff8a00;
}
